div.accounting-operation  {
	font-size: 18pt;
}

img.accounting-operation  {
	border: 0!important;
	width: 78%;
}

table.table-qualifications {
	font-size: 14pt;
}

table.table-skills {
	font-size: 18pt;
}

ul.list-works {
	font-size: 18pt;
}

img.img-monitoring {
	height: 75%;
	width: 75%;
}

img.img-condition-data {
	height: 77%;
	width: 80%;
}
