div.accounting-operation  {
	font-size: 24pt;
}

.reveal h1, .reveal h2 {
	text-transform: none;
}

img.accounting-operation  {
	border: 0!important;
	width: 78%;
}

table.table-qualifications {
	font-size: 14pt;
}

ul.list-works {
	font-size: 22pt;
}

img.img-monitoring {
	height: 75%;
	width: 75%;
}

img.img-condition-data {
	height: 77%;
	width: 80%;
}

section ul.hyphen-list {
	list-style-type: none;
	margin-left: 1.5em;
	padding-left: 1em;
	text-indent: -0.85em;
}
section ul.hyphen-list li:before {
	content: "- ";
}

.slides section img {
	border: none;
}
